@*
    
*@
@{
    @model User
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/profile.css">
<div class="container">
    <div class="profile">
        <!-- Profile Header -->
        <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
                <div class="profile-header-img">
                    <img src="@Model.ImageUrl" alt="" />
                </div>
                <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
                    <li class="nav-item">
                        <a href="#profile-post" class="nav-link" data-toggle="tab">
                            <div class="nav-field">Posts</div>
                            <div class="nav-value">382</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#profile-friends" class="nav-link active" data-toggle="tab">
                            <div class="nav-field">Friends</div>
                            <div class="nav-value">1.3m</div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- Profile Sidebar -->
        <div class="profile-container">
            <div class="profile-sidebar">
                <div class="desktop-sticky-top">
                    <h4>@Model.UserName</h4>

                    <p>
                        @Model.FirstName @Model.LastName
                        @Model.Email
                    </p>
                    <div class="mb-1"><i class="fa fa-map-marker-alt fa-fw text-muted"></i> @Model.BirthDay</div>
                    <div class="mb-3"><i class="fa fa-link fa-fw text-muted"></i> @Model.PhoneNumber</div>
                    <hr class="mt-4 mb-4" />
                </div>
            </div>
            <!-- Profile Contents -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="tab-content p-0">
                            <div class="tab-pane fade active show" id="Users">
                                <div class="list-group" style="overflow:auto">

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section scripts {
    <script>
        var joinedUser = '@ViewBag.UserName';

    </script>
    <script src="~/js/profile.js"></script>
}